/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #20202D;
	color: #fff;
	overflow-x: hidden;
}
.animate__animated {
	opacity: 0;
}
.hero {
	padding: 50px 0 155px 0;
	background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.container {
	width: 90%;
	max-width: 945px;
	margin: 0 auto;
}
.hero-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 105px;
}
.social__link {
	margin-right: 20px;
	transition: border-bottom .3s ease;
}
.social__link:last-child {
	margin-right: 0;
}
.social__link:hover {
	border-bottom: 1px solid #FFBB01;
	padding-bottom: 7px;
}
.hero-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.hero__subtitle {
	font-size: 24px;
	line-height: 28px;
	color: #FFBB01;
	display: inline-block;
}
.hero__title {
	font-size: 50px;
	line-height: 59px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0 0 20px 0;
}
.hero__description {
	font-size: 16px;
	line-height: 28px;
	max-width: 428px;
	margin-bottom: 38px;
}
.button {
	background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
	box-shadow: 0px 4px 0px #B68500;
	border-radius: 5px 5px 10px 10px;
	padding: 19px 42px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: 700;
	transition: transform .3s ease, box-shadow .3s ease;
}
.button:active {
	transform: translateY(4px);
	box-shadow: none;
}
.button:hover {
	background: linear-gradient(180deg, #FFBB01 0%, #EDB203 100%);
}
.hero-avatar {
	width: 389px;
	height: 389px;
	border-radius: 50%;
	background: url(../img/avatar.jpg) -46px top no-repeat;
	border: 10px solid #fff;
}
.features {
	padding: 64px 0 92px 0;
	background-color: #000;
}
.section__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 84px;
}
.features-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.feature-item {
	flex-basis: 30%;
	margin-bottom: 63px;
}
.feature-item:nth-child(2) {
	-webkit-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
.feature-item:nth-child(3) {
	-webkit-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
.feature-item:nth-child(4) {
	-webkit-animation-delay: .6s;
	-o-animation-delay: .6s;
	animation-delay: .6s;
}
.feature-item:nth-child(5) {
	-webkit-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}
.feature-item:nth-child(6) {
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.feature-item:nth-last-of-type(-n+3) {
	margin-bottom: 0;
}
.feature__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin: 22px 0 16px 0;
}
.feature__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
}
.footer {
	padding: 57px 0 148px 0;
	background-color: #20202D;
}
.contacts-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.contacts-form {
	background: #FFFFFF;
	box-shadow: -5px 5px 0px #FFC41D;
	border-radius: 5px;
	max-width: 380px;
	padding: 40px 48px 49px;
}
.form__title {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 29px;
}
.input {
	background: #F8F8F8;
	box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	padding: 18px 20px 18px 50px;
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
}
.input__name {
	background: url(../img/user-icon.svg) center left 20px no-repeat;
}
.input__phone {
	margin: 17px 0 26px 0;
	background: url(../img/phone-icon.svg) center left 20px no-repeat;
}
.form__button {
	width: 100%;
	box-shadow: -3px 4px 2px #B68500;
}
.form__button:active {
	transform: translate(-3px,4px);
	box-shadow: none;
}
.contacts-text {
	flex-basis: 50%;
}
.contacts-data {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 42px;
}
.contacts-phone {
	-webkit-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
.contacts-phone, .contact-mail {
	flex-basis: 50%;
	margin-bottom: 53px;
}
.contact-mail {
	-webkit-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
.contacts__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 15px;
}
.contacts-social {
	flex-basis: 100%;
	-webkit-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}
.contacts-social .contacts__link:last-child {
	margin-right: 0;
}
.contacts__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	margin-right: 11px;
	position: relative;
}
.contacts__link:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #FFC41D;
	transition: width .2s ease;
}
.contacts__link:hover:before {
	width: 100%;
}
.contacts-policy {
	display: inline-block;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #A5A5A5;
	margin-top: 72px;
}
.projects {
	padding: 126px 0 108px 0;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
.project-slide {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: flex-start;
	justify-content: space-between;
}
.project__image {
	border-radius: 6px;
	margin-right: 11px;
	overflow: visible;
	transition: opacity .3s ease, box-shadow .3s ease;
}
.project__link:hover .project__image{
	opacity: 0.8;
	-webkit-box-shadow: 11px 9px 27px -14px rgba(255,187,1,1);
	-moz-box-shadow: 11px 9px 27px -14px rgba(255,187,1,1);
	box-shadow: 11px 9px 27px -14px rgba(255,187,1,1);
}
.creatives {
	width: 360px;
}
.spacex {
	width: 350px;
	height: 268px;
}
.project-text {
	flex-basis: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.project__title {
	flex-basis: 100%;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 41px;
}
.project-time, .project-cost {
	flex-basis: 50%;
	margin-bottom: 44px;
}
.project-time, .project-cost, .project-feedback {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.project__icon {
	margin-right: 16px;
}
.project__subtitle {
	margin-bottom: 7px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
.project__paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}
.project-pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 44px;
}
.project-bullet {
	width: 10px;
	height: 10px;
	border: 2px solid #FFBB01;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px 0;
	cursor: pointer;
}
.project-bullet-active {
	background-color: #FFBB01;
}
/*Responsive*/
@media screen and (max-width: 1100px) {
	.hero-avatar {
		width: 300px;
		height: 300px;
		border-width: 10px;
		background: url(../img/avatar.jpg) -90px top no-repeat;
	}
}
@media screen and (max-width: 836px) {
	.hero-content {
		flex-direction: column;
	}
	.hero-avatar {
		order: 0;
		margin-bottom: 17px;
	}
	.hero-text {
		order: 1;
		text-align: center;
	}
	.feature-item {
		flex-basis: 45%;
	}
	.project-slide {
		flex-direction: column;

	}
	.project__image {
		margin-bottom: 46px;
	}
	.contacts-block {
		-ms-align-items: flex-start;
		align-items: flex-start;
		flex-direction:column;
	}
	.contacts-form {
		margin-bottom: 58px;
	}
	.hero {
		padding-bottom: 85px;
	}
	.projects {
		padding: 45px 0 45px 0;
	}
	.footer {
		padding-bottom: 90px;
	}
	.contacts-policy {
		margin-top: 25px;
	}
	.hero-header {
		margin-bottom: 75px;
	}
}
@media screen and (max-width: 564px) {
	.hero-avatar {
		width: 113px;
		height: 113px;
		border-width: 4px;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-position: center top;
	}
	.hero {
		padding-bottom: 75px;
	}
	.hero-header {
		margin-bottom: 38px;
	}
	.social__link {
		margin-right: 5px;
	}
	.social__link:last-child {
		margin-right: 0;
	}
	.hero__title {
		font-size: 24px;
		line-height: 28px;
	}
	.hero__subtitle {
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 5px;
	}
	.hero-description {
		font-size: 14px;
		line-height: 140%;
	}
	.section {
		padding: 25px 0;
	}
	.section__title {
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 60px;
	}
	.features {
		padding-bottom: 50px;
	}
	.feature-item {
		flex-basis: 90%;
		margin-bottom: 30px;
	}
	.feature__title {
		font-size: 18px;
		line-height: 28px;
	}
	.feature__text {
		font-size: 14px;
		line-height: 28px;
	}
	.project__title {
		font-size: 18px;
		line-height: 150%;
	}
	.project-time, .project-cost, .project-feedback {
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.feature-item:nth-last-of-type(-n+3) {
		margin-bottom: 30px;
	}
	.project__paragraph {
		font-size: 14px;
	}
	.contacts-form {
		padding: 40px 19px;
	}
	.form__title {
		font-size: 15px;
		line-height: 140%;
	}
	.form__button {
		font-size: 12px;
	}
	.contacts-phone, .contact-mail {
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.contacts__title {
		font-size: 18px;
		line-height: 21px;
	}
	.contacts__link {
		font-size: 14px;
		line-height: 16px;
		display: block;
		margin-bottom: 13px;
	}
	.contacts__link:last-child {
		margin-bottom: 0;
	}
	.footer {
		padding-bottom: 50px;
	}
	.contacts-policy {
		margin-top: 0px;
	}
	.project-pagination {
		margin-top: 20px;
	}
	.section__title {
		margin-bottom: 55px;
	}
}
@media screen and (max-width: 390px) {
	.spacex {
		height: 250px;
	}
}
@media screen and (max-width: 330px) {
	.spacex {
		height: 230px;
	}
}